<html>
    <head>
		<title>{{ $senderName or '' }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="../../../styles/css/light.css">
		
	</head>
    <body>
        <div class="container">
            <div class="email-header">
                <h2>Beautymail Newsletter</h2>
            </div>
            
            <div class="email-content">
                <div class="banner">
                    <h2>Info:</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, minus dolore, non nostrum architecto qui obcaecati dicta natus accusamus dolorem assumenda tempora aliquam, atque incidunt vel illum, voluptatibus libero sed!</p>
                </div>
                
                <div class="row">
                    <h3>Latest Articles:</h3>
                    <div class="col6">
                        <div class="article">
                            <div class="image">
                                <img src="http://lorempixel.com/g/300/100/" alt="test image">
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit nobis maxime autem perspiciatis tempore incidunt consectetur, debitis, sunt ullam dignissimos, unde dolore illo doloribus exercitationem necessitatibus aspernatur est nam? Eius.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col6">
                        <div class="article">
                            <div class="image">
                                <img src="http://lorempixel.com/g/300/100/" alt="test image">
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus a aliquid nihil doloremque officia illum dolores sequi repellendus aspernatur aperiam vitae dolore odit cum, quibusdam reiciendis, autem quos ut numquam?</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="email-footer">
                <div class="row">
                    <div class="col12">
                        <p>Copyright &copy; Light Theme BeautyMail</p>
                    </div>
                    
                    <div class="col6">
                        <h4>Our Offices:</h4>
                        <ul>
                            <li>123 ABC Avenue</li>
                            <li>Office Block 23</li>
                            <li>California.</li>
                        </ul>
                    </div>
                    <div class="col6 pull-right">
                        <ul>
                            <li><a href="#">Check out our Facebook Page</a></li>
                            <li><a href="#">Follow us on Twitter</a></li>
                            <li><a href="#">Unsubscribe</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Clear to bring height over all content -->
            <div class="clear"></div>
        </div>
    </body>
</html>
